* {
    box-sizing: border-box
}

body {
    background-color: lavender;
    padding: 1em;
    user-select: none;
}
h1 {
    text-align: center; 
}

.number_pad_layout {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .5em;
    width: 15em;
    height: 18em;
    position: absolute;
    right:44%;
    top: 3em;
}

.number_keys_input {
    position: absolute;
    right: 45%;
    top: 1em;
}

.number_keys {
    background-color: gray;
}

.delete_key {
    background-color: red;
}

.list_of_scanned_items {
    height: 20em;
    width: 42%;
    overflow: auto;
    padding: 2em;
    margin-bottom: 2em;
    background-color: white;
}

.items_for_sale_layout {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    width: 100%;
    height: 15em;
    margin-bottom: 5em;
}

.price_check_layout {
    position: absolute;
    right: 30%;
    top: 5.5em;
}

.price_check_button {
    font-size: 1em;
    height: 6em;
    width: 15em;
    background-color: purple;
    margin-top: 2em;
}

.finalize_transaction_layout {
    position: absolute;
    right:30%;
    top: 1em;
}

.finalize_button {
    font-size: 1em;
    height: 6em;
    width: 15em;
    background-color:green;
}

.cancel_transaction_layout {
    position: absolute;
    right:30%;
    top: 11em;
}

.cancel_button {
    font-size: 1em;
    height: 6em;
    width: 15em;
    background-color:orange;
    margin-top: 3em;
}

.edit_button_layout {
    position: absolute;
    right: 10%;
    top: .2em;
    margin-top: 1em;
}

.edit_button {
    font-size: 2em;
    height: 4.5em;
    width: 10em;
    background-color: yellow;
}

.system_configuration_button_layout {
    margin-top: 1em;
}

.system_configuration_button {
    font-size: 2em;
    height: 4.5em;
    width: 10em;
    background-color:Blue;
}