    
body {
    box-sizing: border-box;
    background-image: url(Link\ vs\ Ganondorf.png);
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    margin-top: 15%;
    
}

h1 {
    color: white;
}
progress {
    background-color: green;
    width: 50%;
    height: 3%;
}

button {
    font-size: 24px;
}